
.box1{
   
    width: 300px;
    height: 350px;
    background: repeating-linear-gradient( 135deg , rgb(184, 226, 229),rgb(184, 226, 229) 5%, rgb(40, 102, 123)15%,rgb(40, 102, 123)20% );
    background-size: 30px , 35px;
}