header {
    display: flex;
    background-color: #89cca9;
    color: #473a70;
    column-gap: 38px;
    padding: 3px;
    position: relative
    
}

.button {
    position: absolute;
    right: 20px;
    top: 22px;
    width: 18vw;

}

#box {
    background-color: #edf1f0;
    box-shadow: 2px 1px 0px 2px rgba(0,0,0,1);
    text-align: center;
    font-size: 19px;

}

.aside{
    background-color: #89cca9;
    color: #473a70;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 189px;
    text-align: center;
    position: absolute;
    left: 255px;
}
#h :hover{
     background-color: #b2b973;
     
}