.f1{
   
    width: 500px;
    margin: 0 auto;
    
   

}
.f1 input { 
    margin-bottom: 10px;
    
}
.f2{
    width: 500px;
    margin: 2px auto;
    text-align: center;
  
}
.f1 fieldset {
    background-color: bisque;
    text-align: center;
}
.f2 fieldset {
    background-color: bisque;
}
.f1 label {
    display: inline-block;
    width: 80px;
    margin: 0;

}
#s1{
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}